<h2>Eventos</h2>
<hr>

<form class="row row-cols-sm-auto mb-3" action="">
    <div>
        <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="buscar" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success">Buscar</button>
    </div>
</form>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                <button class="btn btn-outline-light btn-sm" (click)="exibirImagem()">
                    {{!mostrarImagem ? 'Ocultar Imagem' : 'Exibir Imagem'}}
                </button>
            </th>
            <th scope="col">#</th>
            <th class="text-center" scope="col">Tema</th>
            <th class="text-center" scope="col">Local</th>
            <th class="text-center" scope="col">Data</th>
            <th class="text-center" scope="col">Qtd Pessoas</th>
            <th class="text-center" scope="col">Lote</th>
            <th class="text-center" scope="col">Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let item of eventos">
            <td>
                <img [collapse]="mostrarImagem" [isAnimated]="true"
                src="/assets/{{item.imagemURL}}" alt="" 
                [style.width.px]="larguraImagem" 
                [style.margin.px]="margemImagem">
            </td>

            <th scope="row">{{item.eventoId}}</th>
            <td class="text-center">{{item.tema}}</td>
            <td class="text-center">{{item.local}}</td>
            <td class="text-center">{{item.dataEvento}}</td>
            <td class="text-center">{{item.quantidadePessoas}}</td>
            <td class="text-center">{{item.lote}}</td>
            <td class="text-center"></td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4 class="text-danger mt-3">Nenhum evento encontrado!</h4>
            </td>
        </tr>
    </tfoot>
</table>