<app-titulo [titulo]="'Eventos'" [iconClass]="'fa fa-calendar-alt'" [botaoListar]="true">
</app-titulo>

<div class="card rounded shadow-sm p-3">
    <div class="d-flex">
        <div class="flex-fill me-3">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <label class="input-group-text">Filtrar por:</label>
                </div>
                <input type="text" class="form-control" placeholder="Tema e Local" [(ngModel)]="filtroLista" />
            </div>
        </div>

        <div>
            <a class="d-flex btn btn-outline-primary" href="#">
                <i class="fa fa-plus-circle my-1"></i>
                <b class="ms-1 d-none d-sm-block">Novo</b>
            </a>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="d-none d-md-table-cell">
                    <button class="btn btn-outline-light btn-sm" (click)="exibirImagem()">
                        <i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                        {{!mostrarImagem ? 'Ocultar Imagem' : 'Exibir Imagem'}}
                    </button>
                </th>
                <th scope="col">#</th>
                <th class="text-center" scope="col">Tema</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Local</th>
                <th class="text-center" scope="col">Data</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Qtd Pessoas</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Lote</th>
                <th class="text-center" scope="col">Opções</th>
            </tr>
        </thead>
        <tbody *ngIf="eventos && eventos.length">
            <tr *ngFor="let item of eventosFiltrados">
                <td class="d-none d-md-table-cell">
                    <img [collapse]="mostrarImagem" [isAnimated]="true" src="/assets/{{item.imagemURL}}" alt=""
                        [style.width.px]="larguraImagem" [style.margin.px]="margemImagem">
                </td>

                <th scope="row">{{item.id}}</th>
                <td class="text-center">{{item.tema}}</td>
                <td class="text-center d-none d-md-table-cell">{{item.local}}</td>
                <td class="text-center">{{item.dataEvento | DateFormartPipe}}</td>
                <td class="text-center d-none d-md-table-cell">{{item.quantidadePessoas}}</td>
                <td class="text-center d-none d-md-table-cell">{{item.lotes[0].nome | uppercase}}</td>
                <td class="text-center">
                    <!-- <button type="button" class="btn btn-primary btn-sm m-1" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button> -->
                    <button type="button" class="btn btn-danger btn-md" title="Excluir" (click)="openModal(template)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="!eventos.length">
            <tr>
                <td colspan="8" class="text-center">
                    <h4 class="text-danger mt-3">Nenhum evento encontrado!</h4>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Deseja deletar este evento?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>