<div class="card rounded shadow-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-3">
            <!-- <p>Form value: {{form.value | json}}</p>
            <p>Form valid: {{form.status | json}}</p> -->
            <div class="row">
                <div class="col-md-12">
                    <label>Tema</label>
                    <input type="text" class="form-control" [ngClass]="cssValidator(f.tema)"
                        formControlName="tema" placeholder="Insira o Tema">
                    <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
                        Tema é obrigatório.
                    </div>
                    <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
                        O mínimo é 4 caracteres.
                    </div>
                    <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
                        O máximo é 50 caracteres.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>Local</label>
                    <input type="text" class="form-control"
                        [ngClass]="cssValidator(f.local)" 
                        formControlName="local" placeholder="">
                    <div *ngIf="f.local.errors?.required && f.local.touched" class="invalid-feedback">
                        Local é obrigatório.
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Data e Hora</label>
                    <input type="datetime" class="form-control" 
                        [ngClass]="cssValidator(f.dataEvento)"
                        value="{{evento.dataEvento | DateFormartPipe}}"
                        bsDatepicker 
                        [bsConfig]="bsConfig()" 
                        formControlName="dataEvento" placeholder="">
                    <div *ngIf="f.dataEvento.errors?.required && f.dataEvento.touched" class="invalid-feedback">
                        Data e Hora são obrigatórias.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Quantidade Pessoas</label>
                    <input type="number" class="form-control"
                    [ngClass]="cssValidator(f.quantidadePessoas)"
                    formControlName="quantidadePessoas" placeholder="">
                    <div *ngIf="f.quantidadePessoas.errors?.required && f.quantidadePessoas.touched" class="invalid-feedback">
                        Quantidade Pessoas é obrigatório.
                    </div>
                    <div *ngIf="f.quantidadePessoas.errors?.max && f.quantidadePessoas.touched" class="invalid-feedback">
                        O máximo é 120000.
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control"
                    [ngClass]="cssValidator(f.telefone)"
                    formControlName="telefone" placeholder="(000) 90000-0000">
                    <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">
                        Telefone é obrigatório.
                    </div>
                </div>
                <div class="col-md-4">
                    <label>E-mail</label>
                    <input type="text" class="form-control"
                    [ngClass]="cssValidator(f.email)"
                    formControlName="email" placeholder="e-mail">
                    <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
                        E-mail é obrigatório.
                    </div>
                    <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
                        Endereço de e-mail inválido.
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Imagem</label>
                    <input type="text" class="form-control"
                    [ngClass]="cssValidator(f.imagemURL)"
                    formControlName="imagemURL" placeholder="imagem">
                    <div *ngIf="f.imagemURL.errors?.required && f.imagemURL.touched" class="invalid-feedback">
                        Imagem é obrigatório.
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary me-auto border" (click)="resetForm($event)">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success ms-1" [disabled]="!form.valid">
                    <!-- <span class="spinner-border spinner-border-sm me-1"></span> -->
                    Salvar Evento
                </button>
            </div>
        </div>
    </form>
</div>