<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4" *ngIf="showMenu()">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="dashboard">
            <i class="fa-solid fa-users fa-2xl p-4 ms-4"></i>
        </a>
        <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
            <ul class="navbar-nav">
                <ng-container *ngIf="(accountService.currentUser$ | async) != null">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" aria-current="page" routerLink="eventos/lista">Eventos</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="contatos">Contato</a>
                    </li>
                </ng-container>
            </ul>

            <ul class="navbar-nav ms-auto">
                <div *ngIf="(accountService.currentUser$ | async) == null"
                    class="navbar-nav me-3 mt-2 d-xs-none d-none d-md-block">
                    <a class="btn btn-light btn-sm me-2 border" routerLink="/user/login" href="">Entrar</a>
                    <a class="btn btn-warning btn-sm" routerLink="/user/registration" href=""> Me Cadastrar</a>
                </div>

                <li *ngIf="(accountService.currentUser$ | async) != null" class="nav-item dropdown" dropdown>
                    <a *ngIf="(accountService.currentUser$ | async) as user" dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                        {{user.userName | titlecase}}
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="user/perfil">
                            Perfil
                        </a>
                        <div role="separator" class="divider"></div>
                        <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
                            Sair
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>